In [30]:
import pandas as pd
from math import sqrt
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

In [31]:
movies_df = pd.read_csv('./Movie-Recommendation-Dataset/movies_metadata.csv')
ratings_df = pd.read_csv('./Movie-Recommendation-Dataset/ratings.csv')
movies_df.head()

/home/rohan/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [32]:
#finding columns that have missing values :

missing_data = movies_df.isnull()
missing_data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
# counting no:of NaN values in each column so as to have a better insight on what to drop


for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts(), "\n")
    
#from here we find that columns 'homepage' & 'belongs_to_collection' has most of its values as NaN so it can be avoided for our prediction.
#other columns with missing data can either have its respective empty rows dropped or replaced with frequency/mean/other-functions, whichever method seems fit.

adult
False    45466
Name: adult, dtype: int64

belongs_to_collection
True     40972
False     4494
Name: belongs_to_collection, dtype: int64

budget
False    45466
Name: budget, dtype: int64

genres
False    45466
Name: genres, dtype: int64

homepage
True     37684
False     7782
Name: homepage, dtype: int64

id
False    45466
Name: id, dtype: int64

imdb_id
False    45449
True        17
Name: imdb_id, dtype: int64

original_language
False    45455
True        11
Name: original_language, dtype: int64

original_title
False    45466
Name: original_title, dtype: int64

overview
False    44512
True       954
Name: overview, dtype: int64

popularity
False    45461
True         5
Name: popularity, dtype: int64

poster_path
False    45080
True       386
Name: poster_path, dtype: int64

production_companies
False    45463
True         3
Name: production_companies, dtype: int64

production_countries
False    45463
True         3
Name: production_countries, dtype: int64

release_date
False    45379
True        87
Name: release_date, dtype: int64

revenue
False    45460
True         6
Name: revenue, dtype: int64

runtime
False    45203
True       263
Name: runtime, dtype: int64

spoken_languages
False    45460
True         6
Name: spoken_languages, dtype: int64

status
False    45379
True        87
Name: status, dtype: int64

tagline
True     25054
False    20412
Name: tagline, dtype: int64

title
False    45460
True         6
Name: title, dtype: int64

video
False    45460
True         6
Name: video, dtype: int64

vote_average
False    45460
True         6
Name: vote_average, dtype: int64

vote_count
False    45460
True         6
Name: vote_count, dtype: int64

In [34]:
#drop homepage and collection column 

movies_df = movies_df.drop(["homepage", "belongs_to_collection", "tagline"], axis=1)

In [35]:
movies_df.dropna(subset = ["release_date"], axis = 0, inplace = True)
movies_df.reset_index(drop=True, inplace = True)

In [40]:
movies_df.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count
0,False,30000000,genres,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,False,7.7,5415.0
1,False,65000000,genres,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0
2,False,0,genres,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,False,6.5,92.0
3,False,16000000,genres,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,False,6.1,34.0
4,False,0,genres,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,False,5.7,173.0